<div style="display:flex;min-height:100%;">
    <div class="lobby-view" style="flex-grow:1;">
        <h1>Lobby</h1>
        <p class="lead" *ngIf="(roomService.rooms | async) as rooms">{{rooms.length}} active games</p>
        <button class="answer-button" (click)="showNewRoomForm()">Create Room</button>

        <app-chat></app-chat>

        <div class="popup-form" #formdisplay>
            <app-create-room #createRoomForm></app-create-room>
            <button class="popup-x-button" (click)="hideNewRoomForm()">X</button>
        </div>
    </div>

    <div style="min-height:100%;">
        <app-lobby-user-list></app-lobby-user-list>
    </div>
</div>