<ul>
    <li class="list-header">Users</li>
    <li *ngFor="let user of users">
        <p [ngClass]="{'': true, 'self': user.nickname === registration.getNickname()}">{{user.nickname}} 
            <i *ngIf="user.pointsChange < 0; then incorrectIcon;"></i>
            <i *ngIf="user.pointsChange > 0; then correctIcon;"></i>
        </p>
        <p class="small">{{user.points}} points <span *ngIf="user.pointsChange != 0">({{user.pointsChange}})</span></p>
        <p class="tiny"># Right: {{user.questionsRight}}</p>
        <p class="tiny"># Wrong: {{user.questionsWrong}}</p>
        <p class="tiny">
            {{user.questionsRight}} / {{user.questionsRight + user.questionsWrong}}
            ({{(user.questionsRight / (user.questionsRight+user.questionsWrong)) | percent}})
        </p>
    </li>
</ul>

<ng-template #correctIcon><i class="material-icons" style="color: white">check_circle</i></ng-template>
<ng-template #incorrectIcon><i class="material-icons" style="color: white">clear</i></ng-template>
<ng-template #noIcon></ng-template>