<form [formGroup]="createRoomForm" (ngSubmit)="onSubmit()" class="create-room-form">
    <h1>Create Room</h1>

    <div class="alert alert-danger" *ngIf="createRoomForm.get('numQuestions').errors">Choose between 1 and 1000
        questions, or 0 if you want an infinite number of questions.</div>
    <div class="alert alert-danger" *ngIf="createRoomForm.get('secsPerQuestion').errors">Choose between 5 and 300
        seconds per question.</div>

    <label for="name">Room Name:</label>
    <input id="name" type="text" formControlName="name" class="form-control">

    <label for="numQuestions">Number of questions:</label>
    <input id="numQuestions" type="number" formControlName="numQuestions" class="form-control"
        placeholder="Leave blank for infinite">

    <label for="secsPerQuestion">Seconds per question:</label>
    <input id="secsPerQuestion" type="number" formControlName="secsPerQuestion" class="form-control">

    <label for="category">Select Category:</label>
    <select id="category" formControlName="category" class="form-control">
        <option value="any">Any</option>
        <option *ngFor="let category of questions.categories | async" [value]="category.id">{{category.name}}</option>
    </select>

    <label for="difficulty">Select Difficulty:</label>
    <select id="difficulty" formControlName="difficulty" class="form-control">
        <option value="any">Any</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select>

    <label for="canSkipQuestions">Can users skip questions?&nbsp; </label>
    <input id="canSkipQuestions" formControlName="canSkipQuestions" type="checkbox" [value]="true"
        style="vertical-align: middle;">

    <button type="submit" [disabled]="!createRoomForm.valid">Create Room</button>
</form>